.sidebarContainer {
    height: 100%;
    background-color: #212124;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sidebarItemContainer {
    gap: 10px;
}

.sidebarId {
    color: var(--prim-orange);
}

.sidebarLink {
    text-decoration: none;
    padding: 2px 10px;
    border-radius: 30px;
    color: var(--prim-font-color);
}

.sidebarLink:hover {
    background-color: var( --damp-green);
    transition: 200ms ease;
}

.sbSm {
    font-size: 12px;
}