.directionsContainer {
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

.directionsContainer h2 {
    text-align: center;
}

.directionsContainer ul {
    gap: 2rem;
    
}

.directionsContainer ul div {
    gap: 4px;
    padding-top: 6px;
    border-top: 1px solid rgb(71, 71, 71);
}