.itemContainer {
    padding: 30px;
    font-size: 20px;
    gap: 14px;
    text-align: start;
}

.itemContainer .head {
    gap: 40px;
    justify-content: start;
}
.itemContainer .head h2 {
    text-align: start;
}

.itemContainer ul {
    text-align: start;
    gap: 6px;
}
.itemContainer ul li {
    border-bottom: 1px solid gray;
    padding-bottom: 4px;
}

.itemContainer ul span {
    font-weight: bold;
    padding-bottom: 4px;
}

.dash {
    list-style:circle;
}
.dash li {
    margin-left: 14px;
}

.itemContainer li {
    white-space: pre-wrap;
}

.createBtn {
    color: white;
    background-color: var(--prim-blue);
    border: none;
    border-radius: 6px;
    padding: 2px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 6px;
}

.editBtn {
    color: var(#212124);
    background-color: var(--prim-orange);
    border: none;
    border-radius: 6px;
    padding: 2px 10px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 6px;
}